**/CMakeFiles/**
CMakeCache.txt
*.so
*.a
*.swp
Makefile
cmake_install.cmake
engine/simulator
engine/unittest
mcts/selfplay
.gdb_history
tf/tf_app
nnet/nnet_app
nnet/nnet_unittest
mcts/selfplay_unittest
cards/cards_test
